body {
    min-height: 100% !important;
    background-color:floralwhite !important;
}

.link {
    color: white;
}

.link:hover {
    color: wheat;
}

#login {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px gray;
    background-color: white;
    margin-top: 10px;
  }

label {
    font-weight: bold;
    font-size: medium;
}

.login-button {
    width: 100%;
    background-color: #1A5276 !important;
}

.gender-radio {
    margin-left: 10px;
}

.gender {
    font-weight: normal;
}

.required:after {
    content: " *";
    color: red;
}

.edit-button {
    width: 100%;
    margin-top: 5%;
}

.alert {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert-content {
    text-align: center;
}

.error {
    color: red;
}

.error-msg {
    color: red;
    font-size: smaller;
}

.items-per-page {
    position: absolute;
    right: 0px;
    margin-top: 17px;
}

.items-per-page-dropdown {
    margin-top: 10px;
    margin-bottom: -3px;
}

.pagination {
    margin: auto;
    width: 0%;
}

.admin-buttons {
    margin-top: 13px;
    margin-left: 20px;
}

.export-button {
    background-color: gainsboro !important;
    margin-top: 10px !important;
    color: black !important;
    border: aliceblue !important;
}

.form-header {
    margin-top: 10px;
    text-align: center;
}

nav {
    min-height: 75px;
}

.inner-nav {
    background-color: aquamarine;
    margin-top: 10px;
    min-height: 50px;
}